/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-success: #42A948;
  --main-bg-danger: #820000;
  --main-bg-brown: #a94442;
  --main-bg-brown: #a94442;
  --main-bg-white-01: #fed3d3;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid var(--main-bg-success);
}

input.ng-invalid:not(form), .ng-invalid:not(form) input {
  border-left: 5px solid var(--main-bg-brown);
}

.alert div {
  background-color: var(--main-bg-white-01);
  color: var(--main-bg-danger);
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}

.mt-1 {
  margin-top: 0.6em;
}
